head
    title Bookmarklets
    each style in styles 
        link(rel="stylesheet" type="text/css" href=style)
body
    .bookmarklets
        each build in builds 
            a.bookmarklet(href=build.scriptlet draggable="true") 
                .bookmarklet__icon
                .bookmarklet__label= build.label

    script(src="index.js" type="text/javascript")
    