head
    title Bookmarklets
    each style in styles 
        link(rel="stylesheet" type="text/css" href=style)
body
    .instructions Drag a bookmarklet to your bookmarks bar to use it.
    .bookmarklets
        each build in builds 
            .bookmarklet
                a.bookmarklet__link(href=build.scriptlet draggable="true") 
                    .bookmarklet__link__icon
                    .bookmarklet__link__label= build.label
                .bookmarklet__description= build.description

    script(src="index.js" type="text/javascript")
    