head
    title Bookmarklets
    each style in styles 
        link(rel="stylesheet" type="text/css" href=style)
body
    .bookmarklets
        each build in builds 
            a.bookmarklet(href=build.scriptlet) 
                .bookmarklet__icon
                .bookmarklet__label= build.label