body {
    background: #334;
    font-family: sans-serif;
    color: white;
}

a {
    color: inherit;
}

.bookmarklets, .instructions {
    width: 50%;
    min-width: 500px;
    margin: 32px auto;
}

.instructions {
    font-style: italic;
}

.bookmarklet {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &__link {
        background: #556;
        display: block;
        margin: 8px;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: bold;
        text-decoration: none;
        align-self: flex-start;
        display: flex;
        gap: 16px;
        align-items: center;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }

        &__icon {
            &::after {
                content: "🔗";
            }
        }

        // &__label {}
    }

    &__description {
        line-height: 1.5;
        margin: 8px 16px;
        border-left: solid 4px #668;
        padding-left: 16px;
        white-space: pre-line;
    }
}